*{
  font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
  width: 5em;
  height: 5em;
}

button {
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  border: none;
  cursor: pointer;
  margin-bottom: 1em;
  transition: all 0.2s;
}
button:hover {
  transform: scale(1.05);
}

.main-title {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  font-size: small;
  justify-content: space-between;
}

#question-number {
  font-size: small;
}

#next {
  margin-top: 2em;
}
.question {
  margin-bottom: 2em;
}
.quiz-container {
  margin: 2em;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#results {
  text-align: center;
  font-size: 1.5em;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}
