*{
  font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
  width: 5em;
  height: 5em;
}

button {
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  border: none;
  cursor: pointer;
  margin-bottom: 1em;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.05);
}

#exam, #training, #mvd-tests, #gazprom-tests {
  font-size: larger;
}

.main-buttons {
  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  font-size: small;
  justify-content: space-between;
}

#question-number {
  font-size: small;
}

#next {
  margin-top: 2em;
}

.question {
  margin-bottom: 2em;
}

.quiz-container {
  margin: 2em;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#results {
  text-align: center;
  font-size: 1.5em;
}

.correct {
  background-color: green;
  color: white;
}

.correct:hover {
  transform: none;
  cursor: default;
}

.incorrect {
  background-color: red;
  color: white;
}

.incorrect:hover {
  transform: none;
  cursor: default;
}

#modal {
  border-radius: 1em;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background: rgba(172, 172, 172);
  justify-content: center;
}

#modal-button {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0.5em;
  right: 2em;
  font-size: small;
  text-align: right;
}
